.position-page{
  margin-top: 100px;
  .list{
    .list-block{
      font-size: 36px;
      padding-left: 40px; 
      border-bottom: 2px solid #F1F1F1; 
      height: 100px;
      line-height: 100px;
    }
  }
}