.sign-page{
  .form-input{
    .validate-code{
      position: absolute;
      right: -33px;
      top: 0;
      width: 200px;
      height: 85px;
      color: #fff;
      font-size: 28px;
      border: none;
      background: #FF954D; 
    }
  }
  .btn{
    width: 530px;
    height: 80px;
    border: none;
    color: #fff;
    font-size: 30px;
    background: #FFCD5F;
    margin-top: 100px;
    border-radius: 60px; 
  }
}

